/* 
--main: #313131;
--light: #414141;
--lighter: #525252;
--highlight: #CA3E47; 
*/

.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: #313131;
  color: white;
  cursor: default;
}

.container h1 {
  margin: 0rem;
}

.main {
  /* background-color: rgba(33, 34, 36, 0.75); */
  background-color: #414141;
  width: 60%;
  max-width: 1500px;
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .main {
    /* background-color: rgba(33, 34, 36, 0.75); */
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    /* width: clac(50% + 4rem) !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mainSlug {
  /* background-color: rgba(33, 34, 36, 0.75); */
  background-color: #414141;
  width: 50%;
  max-width: 1500px;
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .mainSlug {
    /* background-color: rgba(33, 34, 36, 0.75); */
    width: 100%;
  }
}

.header {
  top: 100px;
  color: white;
  background-image: linear-gradient(20deg, rgb(15, 4, 77), rgb(21, 50, 82));
  width: 100%;
}

.headerImage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 59%, 59%, 0.26)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.undergraph {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.postMain {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* flex-direction: column; */
  width: 90%;
  position: relative;
}

@media (max-width: 700px) {
  .postMain {
    width: 80%;
  }
}

.postBlurbBtn {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  background-color: #0c0c0c;
  border-style: solid;
  border-width: 0.25rem;
  transition: border-color 150ms ease-in-out;
  border-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .postBlurbBtn {
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.2rem;
  }
}

.postBlurbBtn:hover {
  border-style: solid; 
  border-color: #ca3e47;
}

.postBlurbTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: flex-start;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .postBlurbTop {
    flex-direction: column;
  }
}

.title {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  /* this locks the image size */
  width: calc(100% - 200px);
}

@media (max-width: 700px) {
  .title {
    width: 100%;
  }
}

.postBlurbBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.backBtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.7rem;
  background-color: #CA3E47;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markDown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #414141;
  border-width: 0.5rem;
  border-radius: 1rem;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: left;
}

@media (max-width: 600px) {
  .markDown {
    display: flex;
    /* min-width: 500px; */
    /* width: 80%; */
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgb(153, 153, 153); */
    text-align: left;
  }
}

.codeBlock {
  width: 100%;
  overflow-x: auto;
  font-size: 1rem;
}

.codeBlock p{
  gap: 1rem;
}


.codeBlock p a{
  color: rgb(51,102,204);
}
.codeBlock p a:hover{
  color: rgb(131, 37, 214);
}

.codeBlock p:has(img){
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.codeBlock p img:only-child{
  width: 60%;
}

.codeBlock p img{
  width: 40%;
}

@media (max-width: 600px) {
  .codeBlock {
    width: 100%;
    overflow-x: auto;
    font-size: 1rem;
  }
}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 2rem;
  box-shadow: none;
  background-color: none;
  height: fit-content; 
}

@media (max-width: 1100px) {
  .content {
    width: 45%;
  }
}


@media (max-width: 700px) {
  .content {
    width: 90%;
  }
}
