.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #111213ff;
  color: #ffffffff;
}

.container h1 {
  margin: 0rem; 
}

.main {
  /* background-color: rgba(33, 34, 36, 0.75); */
  width: 60%;
  max-width: 1000px;
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: calc(60% + 5rem);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.undergraph {
  width: 20rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(105, 105, 105);

}

.postBlurb{
  border-radius: 1rem;
  background-color: rgb(38, 37, 43);

  border-style: solid;
  transition: border-color 150ms ease-in-out;
  border-color: rgba(255, 255, 255, 0);
  color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
  text-align: center; 
  cursor: pointer;
}

.postBlurb:hover {
  border-style: solid;
  border-color: #2f71e8ff
}



.postBlurbTop { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left  ;
  flex-wrap: wrap;
  gap: 1rem;
  
}

/* @media (max-width: 800px) {
  .postBlurbTop { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
} */
.postBlurbBottom { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

}

.backBtn{
  height: auto;
  width: auto;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: rgb(113, 111, 218);
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.markDown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  font-size: 2rem;
  /* background-color: rgb(153, 153, 153); */
  color: rgb(255, 255, 255);
  text-align: left;
}


@media (max-width: 600px) {
  .markDown {
    display: flex;
    /* min-width: 500px; */
    /* width: 80%; */
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    font-size: 1.2rem;
    /* background-color: rgb(153, 153, 153); */
    color: rgb(255, 255, 255);
    text-align: left;
  }
}




/* --rich-black-fogra-39: #111213ff;

--good grey rgb(38, 37, 43);

--eerie-black: #212224ff;

--quick-silver: #a1a1a1ff;

--white: #ffffffff;

--blue-crayola: #2f71e8ff;

--cyan-process: #29b9f0ff; */