.bar {
    background-color: rgb(57, 57, 57);
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    cursor:default;
}


.header {
    color: black;
    background-color: rgb(57, 57, 57);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  

.main {
    max-width: 1000px;
    width: 100%;
    max-width: 1080px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}   

.burger {
    display: flex;
    position: absolute;
    right: 2rem;

}

.navLink {
    font-size: 1rem;    
    width: fit-content  ; 
    height: 100%;
    color: white;
    background:none; 
    
    border:none;     
    display: flex;
    justify-content: center;
    align-items: center;    
}
.navlink:hover{
    /* background-color: #18dcff; */
    color: #4b4b4b;

}

.barLine{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.name{
    position: absolute;
    left: 2rem;
    gap: 0rem;
    cursor:default;
}

.contact {
    position: absolute;
    right: 2rem;
    width: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.7rem;
    background-color: rgb(83, 86, 232);

    
    /* padding: 0.5rem; */
        /* padding-left: 1rem;
        padding-right: 0px; */

    /* border:solid; */

}




/*  Nav Burger */
.menuNav {
    position: fixed;
    background-color: rgb(57, 57, 57);
    border: hidden;
    border-color: white;
    top: 4rem;
    right: 0;
    bottom: 0;
    max-height: 0;
    transition: max-height 200ms ease-out;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:99; 
}


.menuNav.showMenu {
    max-height: 30%;
    transition: max-height 200ms ease-in;
    display: flex;
    border: solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
} */

.menuNav li:first-child {
    margin-top: 7rem;
}