.bar {
    background-color: rgb(18, 18, 21);  
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}

.main {
    max-width: 1000px;
    width: 100%;
    max-width: 1080px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   

.navLink {
    font-size: 1.2rem;    
    width: 12rem; 
    height: 100%;
    color: white;
    background:none; 
    border:none;     
    display: flex;
    justify-content: center;
    align-items: center;    
}
.navlink:hover{
    /* background-color: #18dcff; */
    color: #4b4b4b;

}

.contact {
    font-size: 1rem;    
    background-color: #2f71e8ff;
    border-radius: 0.8rem;
    
    /* padding: 0.5rem; */
        /* padding-left: 1rem;
        padding-right: 0px; */

    /* border:solid; */

}




/*  Nav Burger */

.menuNav {
    position: fixed;
    background-color: rgb(23, 23, 27);     
    top: 4rem;
    right: 0;
    bottom: 0;
    max-height: 0;
    transition: max-height 150ms ease-out;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:99; 
}


.menuNav.showMenu {
    max-height: 30%;
    transition: max-height 150ms ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
} */

.menuNav li:first-child {
    margin-top: 7rem;
}




/* --rich-black-fogra-39: #111213ff;

--eerie-black: #212224ff;

--quick-silver: #a1a1a1ff;

--white: #ffffffff;

--blue-crayola: #2f71e8ff;

--cyan-process: #29b9f0ff; */