.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #111213ff;
  color: #ffffffff;
}

.container h1 {
  margin: 0rem; 
}

.main {
  /* background-color: rgba(33, 34, 36, 0.75); */
  width: 60%;
  max-width: 1000px;
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.header {
  width: calc(60% + 5rem);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.undergraph {
  width: 20rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(105, 105, 105);

}


.box {
  
  margin-top: 5rem;
  background-color: rgb(39, 43, 49);
  display: flex;
  padding: 2rem;
  gap: 5rem;
  flex-direction: reverse;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

}

.choiceBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;

}


.choice {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;

}

.firstDivision{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.secondDivision{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}


.wheel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: solid;
  border-color: white;
  background-color: white;
  overflow: hidden;
  transition: 5s ease all
}
/* .wheel:hover {
  transform: rotate(500deg);
  transition: 1s ease all;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: solid;
  border-color: white;
  background-color: white;
  overflow: hidden;

} */


.wheelText {

  color: white;
  transform: translate(0px, 190px) rotate(90deg);
}

@media (max-width: 600px) {


  .wheel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: solid;
    border-color: white;
    background-color: white;
    overflow: hidden;
  
  }
  .wheelText {
  
    color: white;
    font-size: 1rem;
    transform: translate(0px, 145px) rotate(90deg);
  }
}  

.spinWheel {

  background-color: red;

}

/* --rich-black-fogra-39: #111213ff;

--eerie-black: #212224ff;

--quick-silver: #a1a1a1ff;

--white: #ffffffff;

--blue-crayola: #2f71e8ff;

--cyan-process: #29b9f0ff; */