/* 
--main: #313131;
--light: #414141;
--lighter: #525252;
--highlight: #CA3E47; 
*/

.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: #313131;
  color: white;
  cursor: default;
}

.container h1 {
  margin: 0rem;
}

.main {
  /* background-color: rgba(33, 34, 36, 0.75); */
  background-color: #414141;
  width: 60%;
  max-width: 1000px;
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 80%;
  text-align: left;
}
.main p {
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 80%;
  text-align: left;
}

@media (max-width: 700px) {
  .main {
    /* background-color: rgba(33, 34, 36, 0.75); */
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    /* width: clac(50% + 4rem) !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  top: 100px;
  color: white;
  background-image: linear-gradient(20deg, rgb(4, 77, 53), rgb(55, 21, 82));
  width: 100%;
}
.undergraph {
  width: 50%;
  height: 100%;
}

.headerImage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 59%, 59%, 0.26)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.split {
  /* background-color: rgba(33, 34, 36, 0.75); */
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: clac(50% + 4rem) !important; */
  flex-direction: row;
  align-items: center;
}
@media (max-width: 700px) {
  .split {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.graphBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 700px) {
  .graphBox {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.graph {
  width: 100%;
}

.interactiveBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 700px) {
  .interactiveBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

/* styles for the knob */

.knobBox {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  padding: 10rem;
  height: 50%;
  width: 50%;
}

.knobUnderlay {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 120px;
  width: 120px;
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
}
.knob {
  height: 100px;
  width: 100px;
  position: relative;
  background-color: #bbb;
  border-radius: 50%;
  z-index: 2;
  display: inline-block;
}
.arrow {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 1;
  background-color: rgb(170, 29, 53);
  clip-path: polygon(50% 2%, 35% 20%, 65% 20%);
}

.demoBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  height: 175px;
}

.line {
  width: 100%;
  height: 3px;

  background-color: rgb(95, 93, 93);
}
.chase {
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
}
.follow {
  width: 50px;
  height: 50px;
  position: absolute;
  pointer-events: none;
}

.sliders {
  height: fit-content;
  width: 60%;
}
@media (max-width: 700px) {
  .sliders {
    height: fit-content;
    width: 70%;
  }
}

div.sliders h3 {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(253, 253, 253);
}

.blurbBody {
  font-size: 1.2rem;
  width: 80%;
  text-align: left;
}

.blurbTitle {
  margin: 0;
  margin-top: 2rem;
  width: 80%;
  text-align: left;
}

.blogTitle{
  padding: 0.5rem;
  display: flex;
  align-items: flex;
  justify-content: center;
}

.blogImage{
  padding: 0.5rem;
}

.blurbBar{
  position: relative;
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(77, 77, 77);
  margin-top: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blurbButton{
  width: 10%;
  height: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(77, 77, 77);
}
@media (max-width: 700px) {
  .blurbButton {
    width: 16%;
    height: 0;
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

.blurbSelector{
  transition: 0.2s ease;
  position: absolute;
  width: 10%;
  height: 0;
  padding-bottom: 8%;
  background: rgb(53, 53, 53);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 700px) {
  .blurbSelector {
    width: 16%;
    height: 0;
    padding-bottom: 16%;
  }
}

.TbHexagon {
  color: rgb(248, 106, 96);
  width: 100%;
  height: 30px;
  z-index: 99;
}

.blurbBox{
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(53, 53, 53);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
