
/* cool backgrounds: https://heropatterns.com/ */
.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: #111213ff;
  color: #ffffffff;
}

.container h1 {
  margin: 0rem; 
}


.main {
  /* background-color: rgba(33, 34, 36, 0.75); */
  width: 50%;
  max-width: 1000px;
  
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .main {
    /* background-color: rgba(33, 34, 36, 0.75); */
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    /* width: clac(50% + 4rem) !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.header {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.undergraph {
  width: 20rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(105, 105, 105);

}

.aboutMe {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  
  /* padding: 2rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(calc(30% + 7rem), 1fr)); */
  gap: 1rem;
}

.aboutMeText {
  width: 50%;
  padding: 1rem;
  max-height: fit-content;
  /* border-radius: 50%;
  border-width: 3; */
}


@media (max-width: 1500px) {
  .aboutMeText { 
    width: 100%;
    text-align: left;
    padding: 2rem;
  }
}

.body {
  margin-top: 2rem;
  max-width: 1000px;
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  text-align: left;
}
.body p{
  font-size: 1.5rem;
}


/* --rich-black-fogra-39: #111213ff;

--eerie-black: #212224ff;

--quick-silver: #a1a1a1ff;

--white: #ffffffff;

--blue-crayola: #2f71e8ff;

--cyan-process: #29b9f0ff; */