
/* cool backgrounds: https://heropatterns.com/ */
.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(57, 57, 57);
  color: #ffffffff;
  cursor:default;
  
}

.container h1 {
  margin: 0rem; 
}


.main {
  /* background-color: rgba(33, 34, 36, 0.75); */
  width: 50%;
  max-width: 1000px;
  gap: 4rem;
  /* width: clac(50% + 4rem) !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .main {
    /* background-color: rgba(33, 34, 36, 0.75); */
    width: 90%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    /* width: clac(50% + 4rem) !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.header {
  border: solid;
  color: black;
  background-color: rgb(197, 202, 255);
  border-radius: 1rem;  
  border-width: 0.25rem;
  width: 80%;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  
}

.undergraph {
  width: 20rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.aboutMe {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
  flex-wrap: wrap;
  
  /* padding: 2rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(calc(30% + 7rem), 1fr)); */
  gap: 4rem;
}

.aboutMeText {
  width: 50%;

  padding: 1rem;
  padding-top: 2rem;
  /* backdrop-filter: blur(5px); */
  position: relative;
  max-height: fit-content;
  border: solid;
  color: black;
  background-color: rgb(231, 187, 153);
  border-radius: 1rem;  
  border-width: 0.25rem;
}


.image {
  display: flex;
  flex-direction: column;
  z-index: 1;
  border: solid;
  border-width: 0.4rem;
  border-color: rgb(230, 226, 174);  
  background-color: rgb(230, 226, 174);  
  border-radius: 0.7rem;
  position: relative;
}

.iconsImage {
  position:absolute;
  z-index: 2;
  padding-bottom: 0.2rem;
  width: 100%;
  background-color: rgb(230, 226, 174);  
  display: flex;
  flex-direction: row;
}

.squiggle{
  position: absolute;
  z-index: 0;
  transform: rotate(-45deg);
}

@media (max-width: 1500px) {
  .aboutMeText { 
    width: 100%;
    text-align: left;
    padding: 2rem;
  }
}

.body {
  border: solid;
  color: black;
  background-color: rgb(209, 230, 206);
  border-radius: 1rem;  
  border-width: 0.25rem;
  max-width: 1000px;
  font-size: 1.5rem;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  text-align: left;
}
.body p{
  font-size: 1.5rem;
}


/* --rich-black-fogra-39: #111213ff;

--eerie-black: #212224ff;

--quick-silver: #a1a1a1ff;

--white: #ffffffff;

--blue-crayola: #2f71e8ff;

--cyan-process: #29b9f0ff; */